<div class="container mt-4">
    <h4 class="mb-2">User List</h4>
    <div class="table-responsive mb-4 bg-white">
      <table class="table table-sm table-bordered table-hover align-middle">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Designation</th>
            <th>Date of Birth</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(user of users; track user.id){
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.designation }}</td>
                <td>{{ user.dateOfBirth | date }}</td>
                <td class="text-center">
                  <span class="badge bg-primary text-light">{{ user.role }}</span>
                </td>
                <td class="text-center">
                    <button class="btn btn-warning btn-sm rounded-2" >Update</button>
                    @if(userRole == 'Admin'){
                    <button class="btn btn-danger btn-sm rounded-2 ms-2" (click)="deleteUser(user.id)">Delete</button>
                    }
                </td>
              </tr>
          }
        </tbody>
      </table>
    </div>
  </div>